__pycache__/
__init__.py
*.pyc
*.pyo
*.pyd
*.sqlite3

.venv/
venv/
ENV/
env/

.env

.idea/
.vscode/

*.log

*.tmp
*.swp

*.sql

*.DS_Store
*.pytest_cache/
*.coverage
*.tox/
*.nox/
*.hypothesis/
*.mypy_cache/
*.dmypy.json
*.pylint.d/
config.py